[submodule "suckless-configs"]
	path = suckless-configs
	url = https://github.com/fede183/suckless-configs.git
[submodule "vim-configs"]
	path = vim-configs
	url = https://github.com/fede183/vim-configs.git
[submodule "mutt-configs"]
	path = mutt-configs
	url = https://github.com/fede183/mutt-configs.git
[submodule "custom-fastfetch"]
	path = custom-fastfetch
	url = https://github.com/fede183/custom-fastfetch.git
[submodule "local-preservation-state"]
	path = local-preservation-state
	url = https://github.com/fede183/local-preservation-state.git
